{{block "index" .}}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
            <title>Document</title>
        </head>

        <body>

            {{template "form" .}}

            {{template "display" .}}

        </body>
        </html>
{{end}}

        {{block "form" .}}
            <input type="text" name="Username" placeholder="username" >
            <input type="text" name="mail" placeholder="mail">
            <button>Submit</button>

        {{end}}

        {{block "display" .}}
        {{ range .UserCredentials}}
                <div>
                    Username : {{.Name}}
                    Mail : {{.Mail}}
                </div>
            
        {{end}}
        {{end}}
            





